/* Generics */
body {
    font-family: 'Questrial', sans-serif;
    height: calc(100vh - 20px);
    background: linear-gradient(0deg, rgb(228, 226, 222) 88%, rgb(0,150,136) 88%);
}

.render-app {
    margin: 20px 0;
    height: calc(100vh - 50px);
    background-color: rgb(255, 255, 255);
}

#user img {
    width: 60px;
    border-radius: 50%;
}

#contacts img {
    width: 70px;
    border-radius: 50%;
}

a {
    color: rgb(114, 114, 114);
}

a:hover {
    color: rgb(49, 49, 49);
}

.active {
    background-color: rgb(233,235,235);
}

.cs-border-right {
    border-right: 1px solid rgb(0,150,136);
}

/* User */
#user {
    background-color: rgb(228, 226, 222);
    padding: 10px;
}

#user i {
    font-size: 24px;
    color: rgb(177,177,177);
    padding: 0 10px;
    cursor: pointer;
}

/* Notifications */
#notifications {
    background-color: rgb(142,218,252);
    padding: 15px 10px;
}

#notifications > div {
    padding-left: 10px;
}

.fa-bell-slash {
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 15px 12px;
    border-radius: 50%;
    color: rgb(142,218,252);
}

/* search */
#search {
    background-color: rgb(250,250,250);
    padding: 10px;
}

#search input {
    font-size: 14px;
}

.fa-search {
    color: rgb(177,177,177);
}

.border-custom {
    border-color: rgb(206,212,218);
}

/* Contacts */
#contacts {
    overflow-y: scroll;
}

#contacts .user-info {
    padding: 10px 20px;
    font-size: 1.1rem;
}

