/* Generics */
body {
    font-family: 'Questrial', sans-serif;
    height: 100vh;
    background: linear-gradient(0deg, rgb(228, 226, 222) 88%, rgb(0,150,136) 88%);
}

.render-app {
    margin: 20px 0;
    height: calc(100vh - 50px);
    background-color: rgb(255, 255, 255);
}

img {
    width: 60px;
    border-radius: 50%;
}

a {
    color: rgb(114, 114, 114);
}

a:hover {
    color: rgb(49, 49, 49);
}

/* User */
#user {
    background-color: rgb(228, 226, 222);
    padding: 10px;
}

#user i {
    font-size: 24px;
    color: rgb(177,177,177);
    padding: 0 10px;
    cursor: pointer;
}

/* Notifications */
#notifications {
    background-color: rgb(142,218,252);
    padding: 20px 10px;
}

#notifications > div {
    padding-left: 10px;
}

.fa-bell-slash {
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 15px 12px;
    border-radius: 50%;
    color: rgb(142,218,252);
}

